/* Font Styles Files Uplodding */
/* Font Styles Files Uplodding */
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype");
}

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype");
}
/* Common Styles Start from Here */
html {
  font-size: 14px;
}
body {
  @include margin(0, 0, 0, 0);
  // @include size(null, 100vh);
   font-family: "AvenirLTSTD-Roman", sans-serif !important;
  // font-family: AvenirLTStd-Black;
  // background-color: $table-body;
  background-color:#f9f9f9 !important;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
button {

    outline: none !important; 
    box-shadow: none !important;
    border: none !important;
  
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important;
}
.AvenirLTStd-BookOblique{
  font-family: "AvenirLTStd-BookOblique", sans-serif !important;
}
.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important;
}
.AvenirLTStd-Heavy{
  font-family: "AvenirLTStd-Heavy", sans-serif !important;
}
.AvenirLTStd-Light{
  font-family: "AvenirLTStd-Light", sans-serif !important;
}
.AvenirLTStd-HeavyOblique{
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important;
}
.AvenirLTStd-LightOblique{
  font-family: "AvenirLTStd-LightOblique", sans-serif !important;
}
.AvenirLTStd-Medium{
  font-family: "AvenirLTStd-Medium", sans-serif !important;
}
.AvenirLTStd-Oblique{
  font-family: "AvenirLTStd-Oblique", sans-serif !important;
}
.AvenirLTStd-Roman{
  font-family: "AvenirLTStd-Roman", sans-serif !important;
}


ul{
  list-style-type: none;
}

.font-size-15{
  font-size:15px;

}
html, body {
  height: 100%;
}



.bg-dark {
  background-color: #343a40!important;
}
.bg-blue{
  background-color: #1690d1;
  }
.color-white{
  color: $white;
}
.color-red{

}
.bg-white{
  background: $white;
}
.container-wrapper{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.left-icon{
  position: absolute;
    top: 5px;
    left: 5px;
    z-index: 5;
}


.f-20{
  font-size: 20px;
}
.space-nowrap{
  white-space: nowrap;
}





// ==================scroll styles=================

/* width & height*/
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px;
}

// / Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(226, 226, 226); 
  border-radius: 10px;
}
 
// / Handle /
::-webkit-scrollbar-thumb {
  background: rgb(202, 201, 201); 
  border-radius: 10px;
}

// / Handle on hover /
::-webkit-scrollbar-thumb:hover {
  background: #acacac; 
}




@media(max-width:768px){
  .d-none-sm{
    display: none;
  }
}