.interface-container {
    width: 93%;
    margin: 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .interface-wrapper {
        background: #435d7d;
        // height: 60px;
        color: #ffffff;
        padding: 12px 17px;
    }
}

.search-content {
    width: 200px !important;
}


.table-container {
    padding: 15px 15px;
}
.table-filter{
    // padding-bottom: 20px;
}
.filter-group {
    padding: 0 10px;

    label {
        padding-right: 10px;
    }

    .user-control {
        padding-left: 30px;
    }
}

.data-table {

    max-height: 66vh;
    overflow: auto;
    th {
        text-align: center;
        font-size: 12px;
        color: #fff;
        background-color: #145194;
        border-bottom: 0 !important;
        border-top: 0 !important;
    }

    td {
        border-bottom: 0 !important;
        border-top: 0 !important;
        vertical-align: middle;
        vertical-align: middle !important;
    text-align: center;
    padding: 2px 12px !important;
    }

    tr {
        border: 1px solid #eee !important;
    }

    td:nth-child(odd) {
        border-right: 1px solid #eee;
    }

    td:nth-child(even) {
        border-right: 1px solid #eee;
    }

    td:nth-last-child(1) {
        border-right: 0px;
    }
}


#staticBackdrop .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    margin: 0 auto;
}



.modal {
    .modal-container {
        max-width: 450px;
        margin: 0 auto;

        // .form-container-wrapper{
        //     width: 100%;
        //     padding: 0px 20px;
        // }
        .modal-content {
            .modal-header {
                padding: 15px 0;
                text-align: center;
                position: relative;
                justify-content: center;

                .modal-title-content {
                    margin: 0;
                    font-size: 22px;
                    font-weight: 900;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.09;
                    letter-spacing: normal;
                }

                .close-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

            }

            .modal-body-container {
                padding: 0 20px;

                .input-section {
                    // max-width: 420px;
                    margin: 10px 0px;
                    height: 45px;
                }

                .input-text {
                    background-color: #e9ecef;
                    position: relative;
                    padding: 0 15px;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.71;
                    letter-spacing: normal;
                    text-align: left;
                    color: #6f8ba4;
                    border: none;

                    &::-webkit-input-placeholder {
                        color: #6f8ba4;
                    }
                }

                .password-text {
                    padding: 0 30px;
                }

                .input-img {
                    position: absolute;
                    left: 4px;
                    top: 11px;
                    z-index: 3;
                }


                .close-button {
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .btn-inner {
                        background: none;
                        // width: 100%;
                        width: 100px;
                        height: 40px;
                        background-color: #3a2cc2;
                        font-size: 15px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        letter-spacing: normal;
                        color: #ffffff;
                    }

                    .btn-save {
                        background-color: #76bd43 !important;

                    }

                }
                .interface-container {
                    width: 100%;
                   
                    margin: 10px auto 0 auto;
                }

            }

        }
    }
}

.textarea-color {
    resize: none;
    height: 70px !important;
}

// switch code
.table-modal{
    .modal-container {
        max-width: 60% !important;
        margin: 0 auto;
    }
}

.btn-add{
    // background: #00aeef;
    background: none;
    width: 100px;
    height: 40px;
    background-color: #00aeef !important;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    color: #ffffff !important;
}

// toggle switch
.check-box-wrapper {
    .example .btn-toggle {
        top: 50%;
        transform: translateY(0%);
    }

    .btn-toggle {
        margin: 0;
        padding: 0;
        position: relative;
        border: none;
        height: 1.5rem;
        width: 3rem;
        border-radius: 1.5rem;
        color: #6b7381;
        background: #bdc1c8;
    }

    .btn-toggle:focus,
    .btn-toggle.focus,
    .btn-toggle:focus.active,
    .btn-toggle.focus.active {
        outline: none;
    }

    .btn-toggle:before,
    .btn-toggle:after {
        line-height: 1.5rem;
        width: 4rem;
        text-align: center;
        font-weight: 600;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        transition: opacity 0.25s;
    }

    .btn-toggle:before {
        content: 'Off';
        left: -4rem;
    }

    .btn-toggle:after {
        content: 'On';
        right: -4rem;
        opacity: 0.5;
    }

    .btn-toggle>.handle {
        position: absolute;
        top: 0.1875rem;
        left: 0.1875rem;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 1.125rem;
        background: #fff;
        transition: left 0.25s;
    }

    .btn-toggle.active {
        transition: background-color 0.25s;
    }

    .btn-toggle.active>.handle {
        left: 1.6875rem;
        transition: left 0.25s;
    }

    .btn-toggle.active:before {
        opacity: 0.5;
    }

    .btn-toggle.active:after {
        opacity: 1;
    }

    .btn-toggle.btn-sm:before,
    .btn-toggle.btn-sm:after {
        line-height: -0.5rem;
        color: #fff;
        letter-spacing: 0.75px;
        left: 0.4125rem;
        width: 2.325rem;
    }

    .btn-toggle.btn-sm:before {
        text-align: right;
    }

    .btn-toggle.btn-sm:after {
        text-align: left;
        opacity: 0;
    }

    .btn-toggle.btn-sm.active:before {
        opacity: 0;
    }

    .btn-toggle.btn-sm.active:after {
        opacity: 1;
    }

    .btn-toggle:before,
    .btn-toggle:after {
        color: #6b7381;
    }

    .btn-toggle.active {
        background-color: #76bd43;
    }

    .btn-toggle.btn-lg.btn-sm:before,
    .btn-toggle.btn-lg.btn-sm:after {
        line-height: 0.5rem;
        color: #fff;
        letter-spacing: 0.75px;
        left: 0.6875rem;
        width: 3.875rem;
    }

    .btn-toggle.btn-lg.btn-sm:before {
        text-align: right;
    }

    .btn-toggle.btn-lg.btn-sm:after {
        text-align: left;
        opacity: 0;
    }

    .btn-toggle.btn-lg.btn-sm.active:before {
        opacity: 0;
    }

    .btn-toggle.btn-lg.btn-sm.active:after {
        opacity: 1;
    }

    .btn-toggle.btn-sm {
        margin: 0;
        padding: 0;
        position: relative;
        border: none;
        height: 1.5rem;
        width: 3rem;
        border-radius: 1.5rem;
    }

    .btn-toggle.btn-sm:focus,
    .btn-toggle.btn-sm.focus,
    .btn-toggle.btn-sm:focus.active,
    .btn-toggle.btn-sm.focus.active {
        outline: none;
    }

    .btn-toggle.btn-sm:before,
    .btn-toggle.btn-sm:after {
        line-height: 1.5rem;
        width: 0.5rem;
        text-align: center;
        font-weight: 600;
        font-size: 0.55rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        transition: opacity 0.25s;
    }

    .btn-toggle.btn-sm:before {
        content: 'No';
        left: -0.5rem;
    }

    .btn-toggle.btn-sm:after {
        content: 'Yes';
        right: -0.5rem;
        opacity: 0.5;
    }

    .btn-toggle.btn-sm>.handle {
        position: absolute;
        top: 0.1875rem;
        left: 0.1875rem;
        width: 1.125rem;
        height: 1.125rem;
        border-radius: 1.125rem;
        background: #fff;
        transition: left 0.25s;
    }

    .btn-toggle.btn-sm.active {
        transition: background-color 0.25s;
    }

    .btn-toggle.btn-sm.active>.handle {
        left: 1.6875rem;
        transition: left 0.25s;
    }

    .btn-toggle.btn-sm.active:before {
        opacity: 0.5;
    }

    .btn-toggle.btn-sm.active:after {
        opacity: 1;
    }

    .btn-toggle.btn-sm.btn-sm:before,
    .btn-toggle.btn-sm.btn-sm:after {
        line-height: -0.5rem;
        color: #fff;
        letter-spacing: 0.75px;
        left: 0.4125rem;
        width: 2.325rem;
    }

    .btn-toggle.btn-sm.btn-sm:before {
        text-align: right;
    }

    .btn-toggle.btn-sm.btn-sm:after {
        text-align: left;
        opacity: 0;
    }

    .btn-toggle.btn-sm.btn-sm.active:before {
        opacity: 0;
    }

    .btn-toggle.btn-sm.btn-sm.active:after {
        opacity: 1;
    }

    .btn-toggle.btn-sm.btn-xs:before,
    .btn-toggle.btn-sm.btn-xs:after {
        display: none;
    }

    .btn-toggle.btn-xs.btn-sm:before,
    .btn-toggle.btn-xs.btn-sm:after {
        line-height: -1rem;
        color: #fff;
        letter-spacing: 0.75px;
        left: 0.275rem;
        width: 1.55rem;
    }

    .btn-toggle.btn-xs.btn-sm:before {
        text-align: right;
    }

    .btn-toggle.btn-xs.btn-sm:after {
        text-align: left;
        opacity: 0;
    }

    .btn-toggle.btn-xs.btn-sm.active:before {
        opacity: 0;
    }

    .btn-toggle.btn-xs.btn-sm.active:after {
        opacity: 1;
    }
}