// .left-nav {
//     border: none;
//     width: 100px;
//     bottom: 0;
// }

// .left-nav,
// .left-nav-body {
//     background-color: #273143 !important;
//     position: absolute;
//     top: 0;
// }


// .w-100,
// .employee-search-dropdown.global-search-typeahead .dropdown-menu .dropdown-item,
// .employee-search-typeahead.global-search-typeahead .dropdown-menu .dropdown-item,
// .chip-typeahead.global-search-typeahead .dropdown-menu .dropdown-item,
// .employee-search-dropdown .dropdown-menu .dropdown-item .typeahead-item,
// .employee-search-typeahead .dropdown-menu .dropdown-item .typeahead-item,
// .chip-typeahead .dropdown-menu .dropdown-item .typeahead-item,
// .left-nav-body,
// .left-nav-body .nav-item,
// .grid-filters .report-filters .filters-container,
// .dropdown-menu .input-search input,
// .modal .right-modal .modal-footer,
// .dropdown-custom .tag-list,
// .stepper.nav li,
// .stepper.nav li a,
// .stepper.nav.edit-stepper .stepper-overlay,
// .input-file,
// .toast-container .toast .toastr-details,
// .matrix .matrix-container .rows .cell .ic-edit,
// .material-form-field--is-active .material-wrapper::before,
// .material-label,
// .fc-unthemed .fc-content-skeleton table .event .fc-content,
// .fc-unthemed .fc-bgevent-skeleton table .event .fc-content,
// .fc-unthemed .fc-content-skeleton table .event .full-event,
// .fc-unthemed .fc-bgevent-skeleton table .event .full-event,
// .widget-item .card .action-buttons,
// .widget-preview-container .action-buttons,
// .widget-add-container .action-buttons,
// .tile-nav.nav {
//     width: 100% !important;
// }
// .navbar-nav {
//     display: flex;
//     flex-direction: column;
//     padding-left: 0;
//     margin-bottom: 0;
//     list-style: none;
// }
// .left-nav-body .navbar-nav li.active, .left-nav-body .navbar-nav li:hover {
//     background-color: #394253;
//     transition: .3s;
// }
// .left-nav-body .navbar-nav li {
//     transition: .3s;
// }
// .left-nav-body .nav-item {
//     background: none !important;
//     width: 100px;
//     position: relative;
// }
// .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
//     color: rgba(0, 0, 0, 0.9);
// }
// .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
//     color: rgba(0, 0, 0, 0.7);
// }
// .left-nav-body .navbar-nav li.active a, .left-nav-body .navbar-nav li:hover a {
//     background-color: #394253;
// }
// .left-nav-body .nav-item .nav-link {
//     text-align: center;
// }
// .pb-12, .employee-profile-container .card .card-body, .py-12, .left-nav-body .nav-item .nav-link, .nav-list-horizontal.nav > li, .nav-list-horizontal.nav.nav-list-horizontal-action > li > a, .modal .right-modal .modal-footer, .tooltip .tooltip-inner, .dashboard .widget-settings, .tile-nav.nav.tile-nav-secondary .tile {
//     padding-bottom: 12px !important;
// }
// .pt-12, .py-12, .left-nav-body .nav-item .nav-link, .nav-list-horizontal.nav > li, .nav-list-horizontal.nav.nav-list-horizontal-action > li > a, .modal .right-modal .modal-footer, .tooltip .tooltip-inner, .dashboard .widget-settings, .tile-nav.nav.tile-nav-secondary .tile {
//     padding-top: 12px !important;
// }
// .navbar-light .navbar-nav .nav-link {
//     color: rgba(0, 0, 0, 0.5);
// }

.sidebar-container{
    width: 100px;
    background-color: #435d7d;
    // color: rgba(0, 0, 0, 0.5);
    .list-items{
        color:#ffffff;
    }
    .dropdown-listitems{
        left: 94px !important;
        background-color: #343a40;
        border-radius: 0;
        color:#a2a9b4;
        padding:0;
        z-index: 99999;
    }
}
.dropdown-menu{
    display: none;
}
.sidebar-listcontent:hover .dropright .dropdown-menu{
    display: block;
    width:280px;
}
// .dropright{
//     a{
//         &:hover{

//         }
//     }
// }
.sidebar-listcontent{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sidebar-listcontent.active,.sidebar-listcontent{
    &:hover{
        background-color: #394253;
        .list-items{
            color:#e4e6e9;
        }
    }
   
}
   
.sublist-items{
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: stretch;
    cursor: pointer;
    &:hover{
        background-color: #394253;
    color: #e4e6e9;
    }
}
.material-icon-sidebar{
    height: 24px;

}