// Color Variables
$white: #ffffff;
$black: #000;
$blue:#3a2cc2;
$red:#ff0000;
$text-grey:#6f8ba4;
$green:#0ea600;
$bg-clr:#f9f9f9;
$blue-dark:#3b566e;
// #3b566e

// Border Colors Variables#e0e3e4

// Meadia Variables
$screen-lg: 1200px;
$screen-md: 991px;
$screen-sm: 767px;
$screen-xs: 580px;
$screen-xxs: 365px;
$scree-size-xs:420px;
