/*  Mixin For Position */
/* Mixin For Padding */
/* Mixin For Margin */
/* Mixin For Size */
/* Mixin For Transition */
/* Mixin For Transform */
/* Mixin For Translate */
/* Mixin For Skew */
/* user Select */
/* Font Styles Files Uplodding */
/* Font Styles Files Uplodding */
@font-face {
  font-family: "AvenirLTStd-Black";
  src: url("../fonts/AvenirLTStd-Black.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Book";
  src: url("../fonts/AvenirLTStd-Book.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Light";
  src: url("../fonts/AvenirLTStd-Light.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Medium";
  src: url("../fonts/AvenirLTStd-Medium.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.otf") format("truetype"); }

@font-face {
  font-family: "AvenirLTStd-Roman";
  src: url("../fonts/AvenirLTStd-Roman.otf") format("truetype"); }

/* Common Styles Start from Here */
html {
  font-size: 14px; }

body {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-family: "AvenirLTSTD-Roman", sans-serif !important;
  background-color: #f9f9f9 !important; }

a {
  text-decoration: none !important;
  cursor: pointer; }

button {
  outline: none !important;
  box-shadow: none !important;
  border: none !important; }

input:focus, textarea:focus, select:focus {
  outline: none; }

.AvenirLTStd-BlackOblique {
  font-family: "AvenirLTStd-BlackOblique", sans-serif !important; }

.AvenirLTStd-BookOblique {
  font-family: "AvenirLTStd-BookOblique", sans-serif !important; }

.AvenirLTStd-Book {
  font-family: "AvenirLTStd-Book", sans-serif !important; }

.AvenirLTStd-Heavy {
  font-family: "AvenirLTStd-Heavy", sans-serif !important; }

.AvenirLTStd-Light {
  font-family: "AvenirLTStd-Light", sans-serif !important; }

.AvenirLTStd-HeavyOblique {
  font-family: "AvenirLTStd-HeavyOblique", sans-serif !important; }

.AvenirLTStd-LightOblique {
  font-family: "AvenirLTStd-LightOblique", sans-serif !important; }

.AvenirLTStd-Medium {
  font-family: "AvenirLTStd-Medium", sans-serif !important; }

.AvenirLTStd-Oblique {
  font-family: "AvenirLTStd-Oblique", sans-serif !important; }

.AvenirLTStd-Roman {
  font-family: "AvenirLTStd-Roman", sans-serif !important; }

ul {
  list-style-type: none; }

.font-size-15 {
  font-size: 15px; }

html, body {
  height: 100%; }

.bg-dark {
  background-color: #343a40 !important; }

.bg-blue {
  background-color: #1690d1; }

.color-white {
  color: #ffffff; }

.bg-white {
  background: #ffffff; }

.container-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.left-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5; }

.f-20 {
  font-size: 20px; }

.space-nowrap {
  white-space: nowrap; }

/* width & height*/
::-webkit-scrollbar {
  width: 7px !important;
  height: 7px; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #e2e2e2;
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #cac9c9;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #acacac; }

@media (max-width: 768px) {
  .d-none-sm {
    display: none; } }

.header-container {
  height: 50px;
  padding: 0 30px;
  background-color: #00adf0 !important;
  color: #ffffff; }

.right-icon {
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 9;
  color: #343a40; }

.form-control {
  height: 35px !important;
  background-color: #e9ecef !important;
  border: 0 !important;
  outline: none;
  box-shadow: none;
  font-size: 15px;
  box-shadow: 2px 2px 3px #ccc;
  color: #808080 !important; }
  .form-control:focus {
    border: 0;
    outline: none;
    box-shadow: 2px 2px 3px #ccc !important; }
  .form-control::placeholder {
    color: #808080; }

.wrapper {
  width: 93%;
  display: flex;
  justify-content: center;
  padding-top: 20px; }

.search-input {
  width: 300px; }
  .search-input .form-control {
    padding: 0px 24px 0 15px; }

.wrapper-inner {
  background: white;
  width: 500px;
  padding: 8px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 320px; }

.input-group-container {
  width: 220px;
  padding: 6px 0; }

.input-form {
  padding: 6px 0; }

.payor-details {
  resize: none;
  height: 186px !important; }

.search-icon {
  background: white;
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343a40; }

.interface-container {
  width: 93%;
  margin: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .interface-container .interface-wrapper {
    background: #435d7d;
    color: #ffffff;
    padding: 12px 17px; }

.search-content {
  width: 200px !important; }

.table-container {
  padding: 15px 15px; }

.filter-group {
  padding: 0 10px; }
  .filter-group label {
    padding-right: 10px; }
  .filter-group .user-control {
    padding-left: 30px; }

.data-table {
  max-height: 66vh;
  overflow: auto; }
  .data-table th {
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #145194;
    border-bottom: 0 !important;
    border-top: 0 !important; }
  .data-table td {
    border-bottom: 0 !important;
    border-top: 0 !important;
    vertical-align: middle;
    vertical-align: middle !important;
    text-align: center;
    padding: 2px 12px !important; }
  .data-table tr {
    border: 1px solid #eee !important; }
  .data-table td:nth-child(odd) {
    border-right: 1px solid #eee; }
  .data-table td:nth-child(even) {
    border-right: 1px solid #eee; }
  .data-table td:nth-last-child(1) {
    border-right: 0px; }

#staticBackdrop .modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  margin: 0 auto; }

.modal .modal-container {
  max-width: 450px;
  margin: 0 auto; }
  .modal .modal-container .modal-content .modal-header {
    padding: 15px 0;
    text-align: center;
    position: relative;
    justify-content: center; }
    .modal .modal-container .modal-content .modal-header .modal-title-content {
      margin: 0;
      font-size: 22px;
      font-weight: 900;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.09;
      letter-spacing: normal; }
    .modal .modal-container .modal-content .modal-header .close-button {
      position: absolute;
      top: 0;
      right: 0; }
  .modal .modal-container .modal-content .modal-body-container {
    padding: 0 20px; }
    .modal .modal-container .modal-content .modal-body-container .input-section {
      margin: 10px 0px;
      height: 45px; }
    .modal .modal-container .modal-content .modal-body-container .input-text {
      background-color: #e9ecef;
      position: relative;
      padding: 0 15px;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #6f8ba4;
      border: none; }
      .modal .modal-container .modal-content .modal-body-container .input-text::-webkit-input-placeholder {
        color: #6f8ba4; }
    .modal .modal-container .modal-content .modal-body-container .password-text {
      padding: 0 30px; }
    .modal .modal-container .modal-content .modal-body-container .input-img {
      position: absolute;
      left: 4px;
      top: 11px;
      z-index: 3; }
    .modal .modal-container .modal-content .modal-body-container .close-button {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      .modal .modal-container .modal-content .modal-body-container .close-button .btn-inner {
        background: none;
        width: 100px;
        height: 40px;
        background-color: #3a2cc2;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: normal;
        color: #ffffff; }
      .modal .modal-container .modal-content .modal-body-container .close-button .btn-save {
        background-color: #76bd43 !important; }
    .modal .modal-container .modal-content .modal-body-container .interface-container {
      width: 100%;
      margin: 10px auto 0 auto; }

.textarea-color {
  resize: none;
  height: 70px !important; }

.table-modal .modal-container {
  max-width: 60% !important;
  margin: 0 auto; }

.btn-add {
  background: none;
  width: 100px;
  height: 40px;
  background-color: #00aeef !important;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  color: #ffffff !important; }

.check-box-wrapper .example .btn-toggle {
  top: 50%;
  transform: translateY(0%); }

.check-box-wrapper .btn-toggle {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8; }

.check-box-wrapper .btn-toggle:focus,
.check-box-wrapper .btn-toggle.focus,
.check-box-wrapper .btn-toggle:focus.active,
.check-box-wrapper .btn-toggle.focus.active {
  outline: none; }

.check-box-wrapper .btn-toggle:before,
.check-box-wrapper .btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s; }

.check-box-wrapper .btn-toggle:before {
  content: 'Off';
  left: -4rem; }

.check-box-wrapper .btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5; }

.check-box-wrapper .btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s; }

.check-box-wrapper .btn-toggle.active {
  transition: background-color 0.25s; }

.check-box-wrapper .btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s; }

.check-box-wrapper .btn-toggle.active:before {
  opacity: 0.5; }

.check-box-wrapper .btn-toggle.active:after {
  opacity: 1; }

.check-box-wrapper .btn-toggle.btn-sm:before,
.check-box-wrapper .btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem; }

.check-box-wrapper .btn-toggle.btn-sm:before {
  text-align: right; }

.check-box-wrapper .btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-sm.active:before {
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-sm.active:after {
  opacity: 1; }

.check-box-wrapper .btn-toggle:before,
.check-box-wrapper .btn-toggle:after {
  color: #6b7381; }

.check-box-wrapper .btn-toggle.active {
  background-color: #76bd43; }

.check-box-wrapper .btn-toggle.btn-lg.btn-sm:before,
.check-box-wrapper .btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem; }

.check-box-wrapper .btn-toggle.btn-lg.btn-sm:before {
  text-align: right; }

.check-box-wrapper .btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1; }

.check-box-wrapper .btn-toggle.btn-sm {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem; }

.check-box-wrapper .btn-toggle.btn-sm:focus,
.check-box-wrapper .btn-toggle.btn-sm.focus,
.check-box-wrapper .btn-toggle.btn-sm:focus.active,
.check-box-wrapper .btn-toggle.btn-sm.focus.active {
  outline: none; }

.check-box-wrapper .btn-toggle.btn-sm:before,
.check-box-wrapper .btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s; }

.check-box-wrapper .btn-toggle.btn-sm:before {
  content: 'No';
  left: -0.5rem; }

.check-box-wrapper .btn-toggle.btn-sm:after {
  content: 'Yes';
  right: -0.5rem;
  opacity: 0.5; }

.check-box-wrapper .btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s; }

.check-box-wrapper .btn-toggle.btn-sm.active {
  transition: background-color 0.25s; }

.check-box-wrapper .btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s; }

.check-box-wrapper .btn-toggle.btn-sm.active:before {
  opacity: 0.5; }

.check-box-wrapper .btn-toggle.btn-sm.active:after {
  opacity: 1; }

.check-box-wrapper .btn-toggle.btn-sm.btn-sm:before,
.check-box-wrapper .btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem; }

.check-box-wrapper .btn-toggle.btn-sm.btn-sm:before {
  text-align: right; }

.check-box-wrapper .btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1; }

.check-box-wrapper .btn-toggle.btn-sm.btn-xs:before,
.check-box-wrapper .btn-toggle.btn-sm.btn-xs:after {
  display: none; }

.check-box-wrapper .btn-toggle.btn-xs.btn-sm:before,
.check-box-wrapper .btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem; }

.check-box-wrapper .btn-toggle.btn-xs.btn-sm:before {
  text-align: right; }

.check-box-wrapper .btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0; }

.check-box-wrapper .btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1; }

.sidebar-container {
  width: 100px;
  background-color: #435d7d; }
  .sidebar-container .list-items {
    color: #ffffff; }
  .sidebar-container .dropdown-listitems {
    left: 94px !important;
    background-color: #343a40;
    border-radius: 0;
    color: #a2a9b4;
    padding: 0;
    z-index: 99999; }

.dropdown-menu {
  display: none; }

.sidebar-listcontent:hover .dropright .dropdown-menu {
  display: block;
  width: 280px; }

.sidebar-listcontent {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.sidebar-listcontent.active:hover, .sidebar-listcontent:hover {
  background-color: #394253; }
  .sidebar-listcontent.active:hover .list-items, .sidebar-listcontent:hover .list-items {
    color: #e4e6e9; }

.sublist-items {
  height: 40px;
  padding: 0 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: pointer; }
  .sublist-items:hover {
    background-color: #394253;
    color: #e4e6e9; }

.material-icon-sidebar {
  height: 24px; }
